<div class="container py-5">

  <div class="row">
    <div class="col-6">
      <h1>Add Reminder</h1>
      <form action="/save-reminder" method="POST">
        <h4 class="pt-4"><label>Reminder Message</label>
        </h4>
        <input
          name="reminder"
          required="true"
          class="form-control"
          placeholder="Enter reminder message"
        />
        <h4 class="pt-4"><label>Description</label>
        </h4>
        <input
          name="description"
          required="true"
          class="form-control"
          placeholder="Enter description"
        />
        <h4 class="pt-4"><label>Date</label>
        </h4>
        <input
          name="date"
          type="date"
          required="true"
          class="form-control w-25"
        />
        <br />
        <button class="btn btn-primary" type="submit">Set</button>
      </form>

    </div>
    <div class="col-6">
      <h1>All Reminders</h1>
      <ul>
        {{#reminders}}
          <li>
            {{#each this}}
              {{this.reminder}}
            {{/each}}
          </li>
        {{/reminders}}
      </ul>
    </div>
  </div>

</div>